.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.label {
    color: #909090;
    padding: 0.2rem 0.5rem;
}

.search-box {
    border: 0.1rem solid #909090;
}

